:root {
    --main--color: rgb(189 183 255);
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes showUp {
    from {
        transform: scale(0);
    } to {
        transform: scaleY(1);
    }
}

/* 모니터 */
.introContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.introMonitor {
    position: relative;

    display: flex;
    flex-direction: row;
    width: 850px;
    height: 70%;

    border: 5px solid black;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0.1);
    overflow: hidden;
}

.introMainFrame {
    width: 50%;
    height: 100%;

    transition-duration: 2s;
}

.introSubFrame {
    width: 50%;
    height: 100%;

    background-color: black;
    transition-duration: 2s;
}

/* MenuBar */
.menuBar {
    position: absolute;
    width: 25em;

    top: 1em;
    right: 1em;

    display: flex;
    flex-direction: row-reverse;
}

.menuBarFrame {
    display: flex;
    width: 60%;
    height: fit-content;
    padding: 1em;

    background-color: rgb(108, 106, 155);
    border-radius: 10px;

    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    animation: fadeInOut 1s ease-in;
}

.menuIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
}

.iconText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

/* NavBar */
.navBar {
    position: absolute;
    width: 20em;
    bottom: 1em;
    left: 1em;

    opacity: 0.9;
    user-select: none;
}

.navBarContent {
    width: 100%;
    background: rgb(0, 0, 0, 0.1);
    color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: 1px solid #b7b7b74a;
    border-inline: none;
    border-bottom: none;
}

.navBarContent:hover {
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

/* Activity Card */
.activityContainer {
    display: inline-flex;
    padding-inline: 2em;
    margin-top: 1em;

    gap: 10px;
}

.activityCardContents {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25%;
    height: fit-content;
    padding: 10px;
    padding-block: 2em;
    
    background-color: var(--main--color);
    
    border-radius: 10px;

    opacity: 0.7;
    gap: 1.5em;
    user-select: none;    

    animation: showUp 1s ease backwards;
}

.activitySummary {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* 동아리 DEVS 로고 */
.introText {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;

    user-select: none;

    animation: fadeInOut 2s linear;
}

.clubTitle {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7em;
    color: white;
}

.clubSubTitle {
    font-size: 1.5em;
    color: whitesmoke;
}


/* 동아리 가입 신청서 */
.singupFrame {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.clubForm {
    display: grid;
    padding-top: 2em;
    
    color: var(--main--color);
    gap: 10px;
}

.clubForm input:nth-child(2) {
    background-color: wheat;
}

/* To Club Signup */
.searchFrame {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 2em;
}

.searchButton {
    position: relative;
    width: 300px;
    height: 3em;

    background-color: white;
    border-radius: 10px;
    border: 1px solid;

    cursor: pointer;
    overflow: hidden;

    user-select: none;
    animation: fadeInOut 1s ease-in 0.5s backwards;
}

.searchButton::before {
    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: var(--main--color);
    background-color: black;

    align-items: center;
    justify-content: center;
    font-size: 1em;
    content: "동아리 신청하기";

    border-radius: 10px;
    z-index: 1;
    transform: scale(0.99, 0.93);
}

.searchButton::after {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 110%;
    content: "";
    background-color: var(--main--color);
    z-index: 0;
    transition: all 0.3s ease;
}

.searchButton:hover::after {
    transform: scaleX(0);
}

/* Club member */
.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    height: 100%;

    padding: 3em;
    gap: 10px;
}

.memberType {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.memberList {
    display: grid;
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    gap: 10px;
}

.memberList::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
}

.memberList::-webkit-scrollbar-thumb {
    background-color: var(--main--color); /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.memberList::-webkit-scrollbar-track {
    background-color: rgba(189, 183, 255, 0.322);  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.profiles {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;

    box-shadow: 1px 1px 7px gray inset;
    border-radius: 10px;

    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeInOut 1s ease-in 0.5s backwards;
}

.profilesImg {
    width: 56px;
    height: 56px;

    margin-inline: 10px;
    border-radius: 50%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.studName {
    font-weight: bold;
}